.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
}
.header img {
    width: 150px;
    border-radius: 50%;
}